/public/wordpress/*
!/public/wordpress/.gitkeep
/vendor/*
!/vendor/.gitkeep
/public/wp-content/plugins/*
!/public/wp-content/plugins/.gitkeep
/public/wp-content/mu-plugins/*
!/public/wp-content/mu-plugins/init.php
/public/wp-content/themes/*
!/public/wp-content/themes/.gitkeep
/public/wp-content/uploads/*
!/public/wp-content/uploads/.gitkeep
/config/*
!/config/Config.php
.env
